.backgroundPagina {
    display: flex;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    
}

#bordeConsola {
    display: flex;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    background-color: rgba(110, 167, 123, 0.579);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-style: groove;
    
}
#pantalla {
    border-radius: 5px;
    display: flex;
    background-color: rgb(130, 192, 115);
    font-size: 50px;
    border-style: groove;
    width: 350px;
    height: 200px;
    align-items: center;
    justify-content: center;
    
    

}

#controles {
    display: flex;
    width: 500px;
    height: 130px;
    flex-direction: row;
    justify-content: space-between;
}



#botonesAccion {
    display: flex;
    background-color: rgb(29, 63, 63);
    justify-content: space-around;
    height: fit-content;
    padding: 10px;

      
}
#botonesAccion:first-child{

    margin-right: 10px;

}
.boton {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 87, 67);
    border-radius: 100%;
    padding: 10px;
    width: 30px;
    height: 30px;

}

#panelDireccional {
    height: 130px;
    width: 130px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}   
    

.botonDireccional {
    background-color: rgb(107, 32, 27);
    border-style: groove;
    height: 30px;
    
}

#botonA{

    margin-right: 10px;

}